* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif !important;

	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	-webkit-text-fill-color: black !important;
	background-color: white !important;
}

/* For Firefox */
input:-moz-autofill {
	background-color: white !important;
	color: black !important;
}

.container {
	height: 100vh;
	width: 100vw;
}

.terms-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.terms-card {
	background-color: white;
	margin-top: 2rem;
	color: black;
	padding: 32px;
	/* padding: 32px 64px; */
	border-radius: 20px;
	max-width: 740px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
	line-height: 1.5em;
	color: rgba(0, 0, 0, 0.6);
}

.terms-title-text {
	margin: 0;
	color: white;
	font-size: 1.5rem;
}

.image-container {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.image {
	height: 100%;
	width: 100%;
}

nav {
	padding-top: 2.5rem;
}

nav header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
	margin: auto;
}

.logo {
	display: none;
	height: 2rem;

	@media (min-width: 1270px) {
		display: block;
	}
}

.hamburger-icon-container {
	cursor: pointer;
	height: 32px;
	width: 32px;
	position: relative;

	@media (min-width: 1270px) {
		display: none;
	}
}

.hamburger-icon {
	height: 100%;
	width: 100%;
	color: white;
}

.hamburger-menu-content {
	position: absolute;
	top: 224px;
	left: 0px;
	transform: translateY(-50%);
	width: 200px;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.nav-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: start;
	padding: 0;
}

.nav-list-big-screen {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 60px;
	margin: 0;

	@media (min-width: 1270px) {
		display: flex;
	}
}

.nav-list-item {
	color: black;
	font-weight: 500;
	cursor: pointer;
	list-style: none;
	width: 100%;

	&:hover {
		background-color: #8cc0ff;
	}
}

.nav-list-item a {
	display: block;
	padding: 24px;
	text-decoration: none;
	color: black;
	font-weight: inherit;
}

.nav-list-item-big-screen {
	font-weight: 500;
	cursor: pointer;
	list-style: none;
}

.nav-list-item-big-screen a {
	color: white;
	text-decoration: none;
	font-weight: inherit;
}

.flag-container {
	cursor: pointer;
	width: 26px;
	height: 18px;
	/* width: 34px;
	height: 24px; */
	position: relative;
}

.flag-image {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.flag-image-dropdown {
	width: 26px;
	height: 18px;
	cursor: pointer;
	border-radius: 3px;
}

.language-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	padding: 8px 16px;
	cursor: pointer;
}

.language-item-text {
	color: black;
	font-weight: normal;
}

.language-dropdown {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	cursor: pointer;
	color: white;

	@media (min-width: 1270px) {
		display: none;
	}
}

.language-dropdown-content {
	position: absolute;
	top: 28px;
	right: -16px;
	border-radius: 5px;
	padding: 8px 0px;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.language-dropdown-big-screen {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 16px;
	color: white;

	@media (min-width: 1270px) {
		display: flex;
	}
}

.login-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 160px 12px 0;

	@media (min-width: 675px) {
		padding: 60px 12px 0;
	}

	@media (min-width: 1270px) {
		padding: 100px 12px 0;
	}
}

.login-card {
	background-color: white;
	color: black;
	padding: 32px 12px 48px 12px;
	border-radius: 40px;
	width: 540px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-text {
	font-weight: bold;
	color: red;
	margin: 0;
	font-size: 30px;

	@media (min-width: 675px) {
		font-size: 40px;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 16px;
}

.login-item {
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	margin-top: 1rem;
}

.login-item-label {
	margin: 0;
}

.login-item-input {
	background: white;
	color: black;
	border-radius: 1.5rem;
	padding: 0 1rem;
	height: 56px;
	font-size: 16px;
	width: 100%;
	border: 1px solid #ccc;

	@media (min-width: 675px) {
		height: 48px;
	}
}

.footer-text-2 {
	margin: 14px 50px 0 50px;
	text-align: center;
}

.password-input {
	position: relative;
	width: 100%;
}

.password-visible-toggle {
	position: absolute;
	width: 23px;
	height: 23px;
	cursor: pointer;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}

.submit-button {
	width: 229px;
	background-color: rgb(8, 158, 30);
	;
	color: white;
	border-radius: 32px;
	margin-top: 1rem;
	height: 53px;
	font-size: 16px;

	@media (min-width: 675px) {
		width: 270px;
	}
}

.terms-footer-button {
	margin: 4rem 0rem;
}

.register-container {
	margin-top: 1rem;
	display: flex;
	width: 300px;
	justify-content: space-between;

	@media (min-width: 675px) {
		width: 400;
	}
}

.register-link,
.forgot-password-link {
	color: black;
	font-weight: normal;

	&:hover {
		color: black;
	}
}

.footer-wrapper {
	padding: 20rem 0 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

	@media (min-width: 675px) {
		padding-top: 6rem;
	}

	@media (min-width: 1270px) {
		padding-top: 4rem;
		padding-bottom: 0.5rem;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	padding: 0px 16px 10px 16px;
	margin: auto;
	border-bottom: 1px solid white;

	@media (min-width: 675px) {
		flex-direction: row;
	}
}

.footer-list {
	display: flex;
	align-items: center;
	gap: 30px;
	margin: 0;

	@media (min-width: 675px) {
		/* gap: 60px; */
	}
}

.footer-text {
	font-size: 32px;
	margin: 0;
}

.footer-list-item {
	font-weight: 500;
	cursor: pointer;
	list-style: none;
}

.footer-list-item a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

th {
	font-weight: normal;
}

.price-list-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	padding-bottom: 2rem;
}

.price-list-body-container {
	display: flex;
	flex-direction: row;
}

.price-list-body {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;

	@media (min-width: 768px) {
		margin-top: 1rem;
	}
}

.price-list-sidebar {
	display: none;
	flex-direction: column;
	flex-basis: 220px;
	flex-grow: 0;
	flex-shrink: 0;
	border-right: 1px solid #ccc;

	@media (min-width: 1270px) {
		display: flex;
	}
}

.filter-and-button-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0rem 1.5rem;

	letter-spacing: 0.5px;

	@media (min-width: 675px) {
		padding: 0rem 2rem;
	}

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		/* padding: 0rem 6rem 0rem 3rem; */
	}

	@media (min-width: 1270px) {
		padding: 0rem 6rem 0rem 3rem;
	}
}

.filter-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;


	@media (min-width: 1270px) {
		flex-basis: 400px;
	}

	@media (min-width: 768px) {
		flex-basis: 300px;
	}
}

.button-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.filter-input-container {
	position: relative;
	height: 2.3rem;

	@media (min-width: 1270px) {
		height: 2rem;
	}
}

.article-number-input,
.product-input {
	height: 100%;
	width: 100%;
	border-radius: 32px;
	padding: 0.5rem 3rem 0.5rem 1rem;
	border: 1px solid #ccc;


	@media (min-width: 1270px) {
		border-radius: 12px;
	}
}

.search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
	color: #1cf1e6;
}

.sidebar-menu-text {
	text-align: center;
	border-bottom: 2px solid #1cf1e6;
	padding: 0.5rem 0;
	font-weight: 500;
	font-size: 20px;
	width: 160px;
	margin: 0 auto;
}

.sidebar-items {
	padding: 1rem 0;
}

.sidebar-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 1rem 0.5rem 2rem;
	cursor: pointer;
	gap: 1rem;

	svg {
		height: 20px;
		width: 20px;
	}

	&:hover {
		background-color: #7f8689;
		color: white;
	}
}

.active-item {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: rgb(19, 230, 19);
	color: white;
	position: absolute;
	left: 13px;
}

.add-product,
.print,
.toggle {
	height: 2.8rem;
	border-radius: 32px;
	padding: 0.5rem 2rem;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 13px rgba(128, 128, 128, 0.3);
	font-weight: 500;
	color: gray;

	svg {
		color: #0fa3e0;

		@media (min-width: 1270px) {
			height: 16px;
			width: 16px;
		}
	}


	span {
		display: none;

		@media (min-width: 1270px) {
			display: block;
			margin-right: 0.5rem;

		}
	}

	@media(min-width: 675px) {
		padding: 0.5rem 2.5rem;
	}

	@media (min-width: 1270px) {
		padding: 0.5rem 1rem;
		height: 2.4rem !important;
		border-radius: 12px;
		font-weight: 500;
		color: gray;
	}
}


.add-product {

	svg {
		background: #13e613;
		color: white;
		border-radius: 50%;
	}
}

.print {

	svg {
		fill: #0fa3e0;
		color: white;
	}
}

.price-list-table th {
	text-align: left;
	padding-bottom: 0.5rem;
}

.price-list-table tbody {
	margin-top: 0.5rem;
}

.price-list-table td input {
	border: 1px solid #7ac8ed91;
	border-radius: 24px;
	padding: 0.5rem;
	width: 100%;

	&:focus {
		outline: none;
	}

	@media (min-width: 675px) {
		padding: 0.5rem 1.3rem;
	}


	@media (min-width: 1270px) {
		padding: 0.5rem;
		border-radius: 12px;
	}
}

.price-list-table td svg {
	color: #0fa3e0;
}

.price-list-header {
	background-color: #1d7af5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;

	svg {
		color: white;
		width: 2rem;
		height: 2rem;
	}

	@media (min-width: 675px) {
		padding: 1rem 2rem;
	}

	@media (min-width: 1270px) {
		padding: 1rem 6rem;
	}
}

th {
	font-weight: 400;
}

.actions {
	text-align: right;
	cursor: pointer;
}

.in-price-heading,
.unit-heading,
.in-stock-heading,
.description-heading,
.price-heading,
.actions-heading,
.in-price-input,
.unit-input,
.in-stock-input,
.description-input,
.price-input,
.actions-input {
	padding-left: 8px;

	@media (min-width: 1270px) {
		padding-left: 16px;
	}
}

.product-or-service-heading,
.product-or-service-input {
	padding-left: 0px;

	svg {
		display: none
	}

	.active-input-icon {
		display: block;
	}

	@media (min-width: 768px) {
		padding-left: 16px;

		svg {
			display: block;
		}
	}
}

.in-stock-heading-tab-screen,
.in-stock-input-tab-screen {
	@media (min-width: 1270px) {
		display: none !important;
	}
}

.in-stock-heading-big-screen,
.in-stock-input-big-screen {
	display: none !important;

	@media (min-width: 1270px) {
		display: table-cell !important;
	}
}

.in-stock-heading,
.in-stock-input,
.in-price-heading,
.in-price-input {
	width: 100px;

	input {
		text-align: center;
	}
}

.unit-heading,
.unit-input {
	input {
		text-align: center;
	}
}

.price-heading,
.price-input {
	input {
		text-align: center;
	}

	width: 30%;

	@media (min-width: 768px) {
		width: 100px;
	}

	@media (min-width: 1270px) {
		/* width: 140px; */
	}
}

.article-no-heading,
.article-no-input {
	width: 130px;
}

.unit-heading,
.unit-input {
	width: 120px;

	@media (min-width: 1270px) {
		width: 120px;
	}
}



.article-no-heading,
.article-no-input,
.in-stock-heading,
.in-stock-input,
.unit-heading,
.unit-input {
	display: none;

	@media (min-width: 768px) {
		display: table-cell;
	}
}

.in-price-heading,
.description-heading {
	display: none;

	@media (min-width: 1270px) {
		display: table-cell;
	}
}

.in-price-input,
.description-input {
	display: none;

	@media (min-width: 1270px) {
		display: table-cell;
	}
}

.price-list-table {
	width: 100%;
	table-layout: fixed;
	padding: 0rem 1.5rem;

	@media (min-width: 675px) {
		padding: 0rem 2rem
	}

	@media (min-width: 1270px) {
		padding: 0rem 4rem 0rem 3rem;
	}
}

.product-or-service-heading,
.product-or-service-input {
	width: 111%;

	@media (min-width: 675px) {
		width: calc(100% - 7% - 156px);
	}
}

.actions-input,
.actions-heading {
	width: 12%;

	@media (min-width: 675px) {
		width: 7%;
	}
}

.actions-input {
	cursor: pointer;
}

.price-list-language-dropdown {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.user-profile {
	align-items: center;
	gap: 1rem;
	display: none;

	@media (min-width: 1270px) {
		display: flex;
	}
}

.user-info {
	display: flex;
	flex-direction: column;
	color: white;
	/* gap: 0.2rem; */
}

.user-info-second {
	font-size: 14px;
}

.user-profile-image {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.price-list-hamburger-icon {
	@media (min-width: 1270px) {
		display: none;
	}
}

.article-no-heading div,
.product-or-service-heading div {
	display: flex;
	align-items: center;

	svg {
		height: 16px;
	}
}

.article-no-heading div svg {
	color: #1cf1e6;
}

.product-or-service-heading div svg {
	color: #13e613;
}

tr {
	position: relative;
}

.active-input-icon {
	width: 18px;
	left: -21px;
	position: absolute;
	/* left: -29px; */
	top: 5px;


	@media (min-width: 675px) {
		left: -24px;
	}
}

.sidebar-items {
	.first-item svg {
		fill: #0bd8ff;
		stroke: white;
	}

	/* second svg */
	.second-item svg {
		fill: green;
		stroke: white;
	}

	.third-item svg {
		fill: white;
		stroke: #0bd8ff;
	}

	.fourth-item svg {
		fill: #0bd8ff;
		stroke: white;
	}

	.fifth-item svg {
		fill: orange;
		stroke: white;
	}

	.sixth-item svg {
		fill: #0bd8ff;
		stroke: transparent;
	}

	.seventh-item svg {
		background: red;
		stroke: white;
		border-radius: 50%;
	}

	.eighth-item svg {
		fill: white;
		stroke: #d8d80b;
	}

	.ninth-item svg {
		fill: #0bd8ff;
		stroke: white;
	}

	.tenth-item svg {
		fill: #078da8;
		stroke: white;
	}

	.eleventh-item svg {
		stroke: #183edfca;

	}

	.twelth-item svg {
		stroke: #078da8;
	}
}